{% extends 'concession/base.html' %}
{% block albums_active %}active{% endblock %}

{% block body %}
<div class="albums-container container-fluid">

    <!-- Albums -->
    <div class="row">

        <div class="col-sm-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">

                    <h1>What is <i>Onesession</i> ?</h1>
                    <h4>Onesession is an app that allows you to fill and post your railway concession without hassle.</h4>
                    <br>
                    <h1>How do I add concession form using <i>Onesession</i> ?</h1>
                        <h4>First, create a new form by filling out the form on this page.</h4>
                        <h4>Once an form is created you will be able to upload your concession form.</h4>
                    <br>
                    <h1>What are some Advantages of <i>Onesession</i> over physical concession queues ?</h1>
                    <ul>
                        <li><h4>We don't have to go to that annoying guy</h4></li>
                        <li><h4>Real time verification</h4></li>
                        <li><h4>Don't have to stand in queues for long amount of time</h4></li>
                        <li><h4>Students can access and fill concession forms from anywhere and anytime from any device</h4></li>
                    </ul>
                    <br>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
